body {
  padding:0;
  margin:0;
  background:#ccf5ff;
  background:linear-gradient(0deg, white, #ccf5ff);
}

h1 {
  color:#333333;
  font-family:"Courier New";
  font-size:250%;
  text-align:center;
}

  
h2 {
  font-weight:normal; 
  color:#737373;
  font-family:"Courier New",serif;
  font-size:24px;
  text-align:center;
}

p {
  color:#333333;
  font-family:"Courier New",serif;
  font-size:20px;
  text-align:center;
  margin-left:140px; 
  margin-right:140px;
}

a:link {
  text-decoration:none;
  background-color:transparent;
  color:#737373
}

a:hover {
  text-decoration:none;
  background-color:transparent;
  color:#000000;
}

a:visited {
  text-decoration:none;
  background-color:transparent;
  color:#737373;
}

a:link, a:visited {
  background-color:white; /* #f2f2f2 (old) */
  border:1px solid black;
  padding:14px 25px;
  text-align:center;
  text-decoration:none;
  font-family:"Courier New",serif;
  font-size:24px;
  color:black;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

a:hover, a:active {
  background-color:#d9d9d9; /* #fafafa (old) */
}

.navigation {
  text-align:center;
}

.navigation a {
  margin: 8px 8px;
}





