body {
  padding:0;
  margin:0;
}

p {
  color:#333333;
  font-family:"Courier New";
  font-size:100%;
  text-align:center;
  margin:100px; /* uhmmm */
}

a:link {
  text-decoration:none;
  color:#737373;
}

a:hover {
  text-decoration:none;
  color:#000000;
}

.navigation {
  font-family:"Courier New", serif; /* mess around with alignment??? */
  font-size:24px;
  text-align:center;
}


